// CSS Reset
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Noto Sans TC', 'Noto Sans SC', 'Open Sans';
    box-sizing: border-box;
}
